<div class="container mt-2 mb-4">
    <div class="row">
        <div class="col-12 mt-2">
            <h6>Graficos de comercios</h6>
            <hr>  
        </div>
        <div class="col-4">
            <div class="card shadow py-5 h-100">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">{{listCommercesNameTop3[0] != undefined ? listCommercesNameTop3[0] : ''}}</h6>
                    <h1 class="card-title text-success">{{this.format_number(listCommercesSalesTop3[0] != undefined ? listCommercesSalesTop3[0] : '')}}</h1>
                    <h6 class="card-subtitle mb-2 text-muted">Comercio con mas ventas</h6>
                  </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow py-5 h-100">
                <div class="card-body text-center">
                    <h1 class="card-title text-primary mt-3">{{format_number(totalSalesCommerce())}}</h1>
                    <h6 class="card-subtitle mb-2 text-muted">Total ventas</h6>
                  </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow h-100">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Top 3 con mas ventas</h6>
                    <app-graph-pie [nameCommerces]="listCommercesNameTop3" [saleCommerces]="listCommercesSalesTop3" ></app-graph-pie>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Ventas por comercio</h6>
                    <ul class="nav nav-tabs">
                        <li class="nav-item" *ngFor="let tab of listTabs; index as i">
                            <a  class="nav-link active" [ngClass]="{'active':tab.visible}" role="button" (click)="changeTab(i)">{{tab.title}}</a>
                        </li>
                    </ul>
                    <div class="mt-3" *ngIf="listTabs[0].visible">
                        <app-graph-pie [nameCommerces]="listCommercesName" [saleCommerces]="listCommercesSales"></app-graph-pie>
                    </div>
                    <div class="mt-3" *ngIf="listTabs[1].visible"> 
                        <app-graph-bar [listCommerce]="listCommerce"></app-graph-bar>
                    </div>
                    <div class="mt-3" *ngIf="listTabs[2].visible">
                        <app-graph-polar-area [nameCommerces]="listCommercesName" [saleCommerces]="listCommercesSales"></app-graph-polar-area>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>