<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a [routerLink]="['/map']" routerLinkActive="active"  class="nav-link active">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        Mapa
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/graphics']" routerLinkActive="active" class="nav-link">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        Graficas
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/commerces']" routerLinkActive="active" class="nav-link">
        <i class="fa fa-building-o" aria-hidden="true"></i>
        Comercios
      </a>
    </li>
  </ul>
</div>